USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 13-Jun-20 12:22:27 PM ******/
CREATE DATABASE [Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'D:\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'D:\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
USE [Shop]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 13-Jun-20 12:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipPhone] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NULL,
	[ShipEmail] [nvarchar](50) NULL,
	[Total] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
	[UserID] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ChartRevenue]    Script Date: 13-Jun-20 12:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ChartRevenue] as
select SUM(Total) as Total,concat(datepart(mm, CreateDate),'/',DATEPART(yy,CreateDate))	as Date
from Orders
group by concat(datepart(mm, CreateDate),'/',DATEPART(yy,CreateDate))
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13-Jun-20 12:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Image] [nvarchar](100) NULL,
	[Price] [decimal](18, 0) NULL,
	[IncludeVAT] [bit] NULL,
	[Quantity] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Status] [bit] NULL,
	[SupplierID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [bit] NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Descriptions]) VALUES (1, N'Laptop', NULL)
INSERT [dbo].[Category] ([ID], [Name], [Descriptions]) VALUES (2, N'Điện thoại', NULL)
INSERT [dbo].[Category] ([ID], [Name], [Descriptions]) VALUES (3, N'Đồng hồ', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[OrderDetails] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (24, 3, 1, CAST(40810000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (24, 4, 1, CAST(40810000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([ProductID], [OrderID], [Quantity], [Price]) VALUES (24, 5, 1, CAST(40810000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [ShipName], [ShipPhone], [ShipAddress], [ShipEmail], [Total], [Status], [UserID], [CreateDate]) VALUES (3, N'khanh', N'05465', N'djfh', N'dfs', NULL, NULL, NULL, CAST(N'2020-06-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([ID], [ShipName], [ShipPhone], [ShipAddress], [ShipEmail], [Total], [Status], [UserID], [CreateDate]) VALUES (4, N'khanh', N'0976617812', N'Phạm văn chiêu', N'khanh@gmail.com', NULL, NULL, NULL, CAST(N'2020-06-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([ID], [ShipName], [ShipPhone], [ShipAddress], [ShipEmail], [Total], [Status], [UserID], [CreateDate]) VALUES (5, N'Dũng', N'097215448', N'Quang Trung', N'dung@gmail.com', NULL, NULL, NULL, CAST(N'2020-06-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Code], [Descriptions], [Image], [Price], [IncludeVAT], [Quantity], [CreateDate], [Status], [SupplierID], [CategoryID]) VALUES (1, N'MacBook Air 2017 i5 1.8GHz/8GB/128GB (MQD32SA/A)', N'A00001', N'MacBook Air 2017 i5 128GB là mẫu laptop văn phòng, có thiết kế siêu mỏng và nhẹ, vỏ nhôm nguyên khối sang trọng. Máy có hiệu năng ổn định, thời lượng pin cực lâu 12 giờ, phù hợp cho hầu hết các nhu cầu làm việc và giải trí.', N'/assets/client/images/Laptop/A00001.png', CAST(19990000 AS Decimal(18, 0)), 0, 25, CAST(N'2020-05-01T16:00:33.620' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([ID], [Code], [Name], [Address], [Email], [Phone]) VALUES (1, N'A001', N'Apple', N'Phòng 901, Ngôi nhà Đức tại Thành phố Hồ Chí Minh. Số 33, Đường Lê Duẩn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam', N'support.vn@apple.com', N'02465776')
INSERT [dbo].[Supplier] ([ID], [Code], [Name], [Address], [Email], [Phone]) VALUES (2, N'S001', N'Samsung', N' Số 2, đường Hải Triều, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh', N'support.vn@samsung.vn', N'02839157310')
INSERT [dbo].[Supplier] ([ID], [Code], [Name], [Address], [Email], [Phone]) VALUES (3, N'O001', N'Oppo', NULL, N'press@oppo.com', N'1800577776')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Phone], [Address], [CreateDate], [Status], [Role]) VALUES (2, N'admin', N'202cb962ac59075b964b07152d234b70', N'admin@gmail', NULL, NULL, NULL, 1, N'admin')
INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Phone], [Address], [CreateDate], [Status], [Role]) VALUES (3, N'khanh', N'202cb962ac59075b964b07152d234b70', N'khanh@gmail.com', NULL, NULL, NULL, 1, N'customer')
INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Phone], [Address], [CreateDate], [Status], [Role]) VALUES (8, N'haha', N'202cb962ac59075b964b07152d234b70', N'dfsfds', NULL, NULL, CAST(N'2020-04-30T12:12:22.657' AS DateTime), 1, N'customer')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Role]  DEFAULT (N'customer') FOR [Role]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
/****** Object:  StoredProcedure [dbo].[RPT_RevenueByDay]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RPT_RevenueByDay]
	-- Add the parameters for the stored procedure here
	@DATE DATETIME
	
AS
BEGIN
	SELECT 
	o.ID,
	od.ProductID,
	od.Quantity,
	SUM(od.Price) as Total,
	p.Name,
	p.Code,
	u.UserName,
	o.ShipName,
	o.ShipAddress,
	o.ShipEmail
		FROM Orders o
		LEFT JOIN OrderDetails od ON o.ID=od.OrderID
		LEFT JOIN Product p ON od.ProductID=p.ID
		LEFT JOIN [User] u ON o.UserID=u.ID
		WHERE DAY(o.CreateDate)=DAY(@DATE)
		GROUP BY o.ID,od.ProductID,	od.Quantity,p.Name,p.Code,u.UserName,o.ShipName,o.ShipAddress,o.ShipEmail
END
GO
/****** Object:  StoredProcedure [dbo].[RPT_RevenueByMonth]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RPT_RevenueByMonth]
	-- Add the parameters for the stored procedure here
	@DATE NVARCHAR(100)
	
AS
BEGIN
SET NOCOUNT ON;
	SELECT 
	o.ID as OrderID,		
	od.ProductID as ProductID,
	p.Name as ProductName,
	p.Code as ProductCode,
	od.Quantity as Quantity,
	SUM(od.Price) as Total,	
	u.UserName as UserName,
	o.ShipName as CustomerName,
	o.ShipAddress as CustomerAddress,
	o.ShipEmail as CustomerEmail,
	o.CreateDate
	INTO #temp
		FROM Orders o
		LEFT JOIN OrderDetails od ON o.ID=od.OrderID
		LEFT JOIN Product p ON od.ProductID=p.ID
		LEFT JOIN [User] u ON o.UserID=u.ID
		WHERE MONTH(o.CreateDate)=MONTH(@DATE)
		GROUP BY o.ID,od.ProductID,	od.Quantity,p.Name,p.Code,u.UserName,o.ShipName,o.ShipAddress,o.ShipEmail,o.CreateDate
		
		SELECT *from #temp
END
GO
/****** Object:  StoredProcedure [dbo].[RPT_RevenueByYear]    Script Date: 13-Jun-20 12:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RPT_RevenueByYear]
	-- Add the parameters for the stored procedure here
	@DATE DATETIME
	
AS
BEGIN
	SELECT 
	o.ID,
	od.ProductID,
	od.Quantity,
	SUM(od.Price) as Total,
	p.Name,
	p.Code,
	u.UserName,
	o.ShipName,
	o.ShipAddress,
	o.ShipEmail
		FROM Orders o
		LEFT JOIN OrderDetails od ON o.ID=od.OrderID
		LEFT JOIN Product p ON od.ProductID=p.ID
		LEFT JOIN [User] u ON o.UserID=u.ID
		WHERE YEAR(o.CreateDate)=YEAR(@DATE)
		GROUP BY o.ID,od.ProductID,	od.Quantity,p.Name,p.Code,u.UserName,o.ShipName,o.ShipAddress,o.ShipEmail
END
GO
USE [master]
GO
